<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    
</head>
<body class="bg-gray-100">
    <!-- Navbar -->
    <nav class="bg-blue-500 p-4">
        <div class="container mx-auto">
            <div class="flex items-center justify-between">
                <div class="text-white text-lg font-semibold">Football Club Detail</div>
                <div>
                    <a href="table.html" class="bg-white text-blue-500 px-3 py-2 rounded hover:bg-gray-200">Back</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Detail Container -->
    <div class="container mx-auto mt-8">
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h2 class="text-2xl font-semibold mb-4">Club Details</h2>
            <div class="mb-4">
                <h3 class="text-xl font-semibold">Nama Pemain</h3>
                <p id="namaPemain" class="text-gray-700">[Nama Pemain]</p>
            </div>
            <div class="mb-4">
                <h3 class="text-xl font-semibold" >Nama Club</h3>
                <p id="namaClub" class="text-gray-700">[Nama Club]</p>
            </div>
            <div class="mb-4">
                <h3 class="text-xl font-semibold" >Liga</h3>
                <p id="liga" class="text-gray-700">[Liga]</p>
            </div>
            <div class="mb-4">
                <h3 class="text-xl font-semibold" >Tahun Berdiri</h3>
                <p id="tahunBerdiri" class="text-gray-700">[Tahun Berdiri]</p>
            </div>
            <div class="mb-4">
                <h3 class="text-xl font-semibold" >Stadion</h3>
                <p id="stadion" class="text-gray-700">[Stadion]</p>
            </div>
            <div class="mb-4">
                <h3 class="text-xl font-semibold" >Manajer</h3>
                <p id="manajer" class="text-gray-700">[Manajer]</p>
            </div>
            <div class="mb-4">
                <h3 class="text-xl font-semibold">Logo</h3>
                <img id="logo" src="[Logo URL]" alt="Club Logo" class="w-32 h-32">
            </div>
        </div>
    </div>


    <script type="module" src="../js/fetch_detail.js"></script>
</body>
</html>
